{% extends "Project/layout.html"%}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{%static 'styles/homepage.css'%}">
<script src="{% static 'scripts/uploadfilmscr.js'%}"></script>
{% endblock %}

{% block body%}
<div class="d-flex align-items-center justify-content-center bg-light" style="height: 100vh;">
    <div class="card p-4 shadow-sm" style="max-width: 400px; width: 100%;">
        <h3 class="text-center mb-4">Upload your film</h3>
        <form action="{% url 'publishfilm'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %} 
            <!-- Title -->
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter the film title" required>
            </div>

            <!-- description -->
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" class="form-control" id="description"></textarea>
            </div>

            <!-- Poster -->
            <div class="mb-3">
                <label for="poster" class="form-label">Poster</label>
                <input type="file" class="form-control" id="poster" name="poster" placeholder="Upload the poster" required>
            </div>

            <!-- Film -->
            <div class="mb-3">
                <label for="film" class="form-label">film</label>
                <input type="file" class="form-control" id="film" name="film" placeholder="Upload the film" required>
            </div>
            
            <!-- Genre Selector -->
            <div class="form-group">
                <label for="genres">Select Genres</label>
                <select name="genres" id="genres" class="form-control" multiple>
                  {% for genre in genres %}
                    <option value="{{ genre.pk }}">{{ genre.genre }}</option>
                  {% endfor %}
                </select>
            </div>
            
            <!-- Upload -->
            <button type="submit" class="btn btn-dark w-100">Upload</button>
            </form>
      </div>
</div>
{%endblock%}